<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoticeBoard</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/min/entireframework.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/min/entireframework.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="nav" tabindex="-1" onclick="this.focus()">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" class="pagename current">NoticeBoard</a>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="About">About</a>
            <a asp-controller="Home" asp-action="Contact">Contact</a>
            <span class="nav-right">
                @await Html.PartialAsync("_LoginPartial")
            </span>
        </div>
    </nav>
    <button class="btn-close btn btn-sm">×</button>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <small>&copy; @DateTime.Today.Year - NoticeBoard</small>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/ki/ki.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/ki/ki.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
