@using Microsoft.AspNetCore.Identity
@using NoticeBoard.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
    <a asp-controller="Pages" asp-action="Index">Page List</a>
    <a asp-controller="Account" asp-action="LogOut">Log off</a>
}
else
{
    <a asp-controller="Account" asp-action="Register">Register</a>
    <a asp-controller="Account" asp-action="Login">Log in</a>
}
