@using Microsoft.AspNetCore.Identity
@using NoticeBoard.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <a asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Register">Register</a>
    <a asp-controller="Account" asp-action="Login">Log in</a>
}
